.content {
    background-color: #f4f7ff;
    height: calc(100vh - 56px);
    padding: 12px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.content__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.content__navbar-left {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 12px;
}

.content__navbar-right {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.content__body {
    flex: 1;
    overflow: auto;
    border: 1px solid #afafaf;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    position: relative;
}

.content__body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
}
  
.content__body::-webkit-scrollbar-thumb {
    border: 8px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    background-color: #AAAAAA;
}

.content__body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh cuộn ngang */
  }
  
.content__body::-webkit-scrollbar-thumb {
background: #888; /* Màu của thanh cuộn ngang */
}
  
.content__navbar-right button {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}
