.paging {
    display: flex;
    height: 48px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.paging .paging-left {
    display: flex;
}

.paging .paging-right {
    display: flex;
}

.paging .paging-left .paging__total {
    display: flex;
    left: 16px;
}

.paging .paging-right .paging__title {
    display: flex;
    margin-right: 16px;
}

.paging .paging-right .paging__title .paging__title-text,
.paging .paging-right .paging__title .paging__title-icon,
.paging .paging-right .paging__title .paging__title-number {
    line-height: 24px;
    align-items: center;
}

.paging .paging-right .paging__title .paging__title-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging .paging-right .paging__title .paging__title-icon i {
    font-size: 20px;
}

.paging .paging-right .paging__number {
    display: flex;
    margin-right: 16px;
    line-height: 24px;
    align-items: center;
}

.paging .paging-right .paging__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging .paging-right .paging__icon-right {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paging .paging-right .paging__icon-right i {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.paging .paging-right .paging__icon-left {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paging .paging-right .paging__icon-left i {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.paging-number {
    display: none;
}

.el-pagination i {
    display: none !important;
}
.el-pagination .btn-prev {
    background-image: url("../../assets/icon/qlts-icon.svg");
    background-repeat: no-repeat;
    background-position: -18px -246px;
    width: 7px;
    height: 12px;
}

.el-pagination .btn-next {
    background-image: url("../../assets/icon/qlts-icon.svg");
    background-repeat: no-repeat;
    background-position: -60px -246px;
    width: 7px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-pager .is-active {
    color: black !important;
    background-color: #f5f5f5 !important;
}

.pagination-block {
    display: inline-block;
    margin-top: 4px;
    margin-left: 20px !important;
}

.el-pager li:hover {
    color: black !important;
}