.content {
    background-color: #dff2ff;
    height: calc(100vh - 56px);
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.content__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.content__navbar-left {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.content__navbar-right {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.content__body {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* Cứ set heigth là nó được, không rõ giá trị bao nhiêu */
    height: 200px;
}

  
.content__navbar-right button {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}

.content__btn--reload:hover {
    border: none !important;
    background-color: white !important;
}

.content__btn--reload {
    color: rgb(79, 79, 79, 0.8) !important;
    font-weight: 600;
}


@media (max-width: 1366px) {
    .content__btn--reload span{
        display: none;
    }
    .content__btn--reload {
        min-width: 0 !important;
        width: 36px !important;
        padding: 0px !important;
    }
}




