@import url('./components/table.css');
@import url('./components/paging.css');
@import url('./components/form.css');
@import url('./variables.css');

@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Italic.ttf');
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
}

.container--sidebar--small .main {
    width: calc(100% - var(--small-sidebar-width));
}

.main {
    flex: 1;
    width: calc(100% - var(--sidebar-width));
}

/* [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    content: attr(data-title);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

[data-title] {
    position: relative;
    z-index: ;
} */

.mask-element {
    background-image: url(../assets/icon/loader.gif);
    position: fixed;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.4);
    background-size: 50px;
    background-position: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-3 {
    width: 25%;
    padding: 0px 16px;
}

.col-6 {
    width: 50%;
    padding: 0px 16px;
}

.col-2 {
    width: 16.66%;
    padding: 0px 16px;
}

.col-3 {
    width: 25%;
    padding: 0px 16px;
}

.col-9 {
    width: 75%;
    padding: 0px 16px;
}

.col-4 {
    width: 33.33%;
    padding: 0px 16px;
}

.col-8 {
    width: 66.66%;
    padding: 0px 16px;
}